::-webkit-scrollbar {
  width: 3px;
}
 ::-webkit-search-thumb {
  background-color: $primary-color;
 }

html,
body {
  font-family: $font-family;
  font-size: $font-12;

  color: $secondary-color;
  overflow-x: hidden;
}

.container {
  @include container ();
}